*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 70%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    display: none;
  }

  .active{
    background-color: #ccc;
    display: block;
  }

  .deactive{
    display: none;
  }


